
    <!-- Left Panel -->
    {{> "dashboard/componentes/aside" }}
    <!-- /#left-panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        {{> "dashboard/componentes/header" }}
        <!-- /#header -->

        <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticModalLabel">Eliminar valoracionh5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                              
                           </p>
                       </div>
                       <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form style="display: inline;" action="/admin-ibizapropiedades-dashboard/eliminar-usuario/" method="post">
                            <button type="submit" class="btn btn-primary">Aceptar</a>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Content -->
        <div class="breadcrumbs">
            {{#if usuarioEliminado}}
            <div style="text-align: center;" id="success-alertt" class="alert alert-success" role="alert">
            {{usuarioEliminado}}
            </div>

            <script>
                console.log("fuera del script")
                document.addEventListener("DOMContentLoaded", function() {
                        // Seleccionar el elemento del alerta
                        console.log("dentro del script")
                        var successAlert = document.getElementById("success-alertt");
                        console.log("despues de la variable del script")
                        // Esperar 3000 milisegundos (3 segundos) y luego ocultar el alerta
                        setTimeout(function() {
                            console.log("dentro de los segundo del script")
                            console.log(successAlert)
                            if (successAlert) {
                                console.log("IF")
                                successAlert.style.display = "none";
                            }
                        }, 2000);
                    });
            </script>
            {{/if}}        


            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Valorar propiedades</h1>
                            </div>
                        </div>
                    </div>
{{!--                     <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">admin-ibizapropiedades-dashboard</a></li>
                                    <li><a href="#">usuarios</a></li>
                                </ol>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <br>
 

        <div class="content">

            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Propiedad a valorar<span class="badge badge-success float-right">Success</span></h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li style=" margin-left: 5px; padding: 4px;" class="nav-item">
                                        <a class="nav-link active show" id="ubicacion-tab" data-toggle="pill" href="#ubicacion" role="tab" aria-controls="ubicacion" aria-selected="false">Ubicación</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="propiedad-tab" data-toggle="pill" href="#propiedad" role="tab" aria-controls="propiedad" aria-selected="false">Propiedad</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="informacion-tab" data-toggle="pill" href="#informacion" role="tab" aria-controls="informacion" aria-selected="true">Información</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="contacto-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto" aria-selected="true">Contacto</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade active show" id="ubicacion" role="tabpanel" aria-labelledby="ubicacion-tab">
                                        <div class="form-group has-success">
                                            <label for="ubicacion" class="control-label mb-1">Ubicación de la propiedad</label>
                                            <input disabled value="Santa maria, los gomez" id="ubicacion" name="ubicacion" type="text" class="form-control cc-name valid" data-val="true" data-val-required="" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="ubicacion">
                                        </div>
                                        <div class="form-group">
                                            <label for="numero-casa" class="control-label mb-1">Número de casa</label>
                                            <input id="numero-casa" name="numero-casa" type="number" class="form-control cc-number identified visa" value="19" disabled>
                                            <span class="help-block" data-valmsg-for="numero-casa" data-valmsg-replace="true"></span>
                                        </div>
                                        <form action="#" method="post" novalidate="novalidate"></form>
                                        <br>
                                        <br>
                                        <div>
                                            <button id="eliminar-valoracion" type="submit" class="btn btn-lg btn-info btn-block">
                                                <span id="eliminar-valoracion-amount">Eliminar la valoración</span>
                                            </button>
                                        </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="propiedad" role="tabpanel" aria-labelledby="propiedad-tab">
                                        <div class="card-body card-block">
                                            <div class="form-group"><label for="tipo-propiedad" class=" form-control-label">Tipo de propiedad</label><input type="text" id="tipo-propiedad" value="Apartamento" disabled class="form-control"></div>
                                            <div class="form-group"><label for="planta-apartamento" class=" form-control-label">Planta del apartamento</label><input type="text" id="planta-apartamento" disabled class="form-control" value="12"></div>
                                            <div class="form-group"><label for="puerta-bloque" class=" form-control-label">Puerta / Bloque (opcional)</label><input type="text" id="puerta-bloque" disabled value="24" class="form-control"></div>
                                            <div class="form-group"><label for="superficie-construida" class=" form-control-label">Superficie construida</label><input type="text" id="superficie-construida" value="1" disabled class="form-control"></div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
                                        <div class="card-body card-block">
                                            <div class="form-group"><label for="num-habitaciones" class=" form-control-label">Número de habitaciones</label><input type="text" id="num-habitaciones" value="Apartamento" disabled class="form-control"></div>
                                            <div class="form-group"><label for="num-banos" class=" form-control-label">Número de baños</label><input type="text" id="num-banos" disabled class="form-control" value="12"></div>
                                            <div class="form-group"><label for="estado-propiedad" class=" form-control-label">Estado de la propiedad</label><input type="text" id="estado-propiedad" disabled value="24" class="form-control"></div>
                                            <div class="signup-field">
                                                <div class="signup-label">Características</div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="piscina" name="caracteristica" value="Piscina">
                                                    <label class="form-check-label" for="piscina">Piscina</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="terraza" name="caracteristica" value="Terraza">
                                                    <label class="form-check-label" for="terraza">Terraza</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="garaje" name="caracteristica" value="Garaje">
                                                    <label class="form-check-label" for="garaje">Garaje</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="nombre">Nombre</label>
                                                <input disabled type="email" class="form-control" id="nombre" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="apellido">Apellido</label>
                                                <input disabled type="text" class="form-control" id="apellido" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="correo">Correo</label>
                                            <input disabled type="text" class="form-control" id="correo" placeholder="1234 Main St">
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">Telefono</label>
                                            <input disabled type="text" class="form-control" id="telefono" placeholder="Apartment, studio, or floor">
                                        </div>

                                        <div class="signup-field">
                                            <div class="signup-label">Contactarle</div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" id="manana" value="Manana" name="Manana">
                                                <label class="form-check-label" for="manana">Mañana</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" name="tarde" id="tarde" value="Tarde">
                                                <label class="form-check-label" for="tarde">Tarde</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" id="noche" name="Noche" value="Noche">
                                                <label class="form-check-label" for="noche">Noche</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                        <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Propiedad a valorar<span class="badge badge-success float-right">Success</span></h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab-1" role="tablist">
                                    <li style=" margin-left: 5px; padding: 4px;" class="nav-item">
                                        <a class="nav-link active show" id="ubicacion-tab-1" data-toggle="pill" href="#ubicacion-1" role="tab" aria-controls="ubicacion-1" aria-selected="false">Ubicación</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="propiedad-tab-1" data-toggle="pill" href="#propiedad-1" role="tab" aria-controls="propiedad-1" aria-selected="false">Propiedad</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="informacion-tab" data-toggle="pill" href="#informacion" role="tab" aria-controls="informacion" aria-selected="true">Información</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " id="contacto-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="contacto" aria-selected="true">Contacto</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent-1">
                                    <div class="tab-pane fade active show" id="ubicacion-1" role="tabpanel" aria-labelledby="ubicacion-tab">
                                        <div class="form-group has-success">
                                            <label for="ubicacion" class="control-label mb-1">Ubicación de la propiedad</label>
                                            <input disabled value="Santa maria, los gomez" id="ubicacion" name="ubicacion" type="text" class="form-control cc-name valid" data-val="true" data-val-required="" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="ubicacion">
                                        </div>
                                        <div class="form-group">
                                            <label for="numero-casa" class="control-label mb-1">Número de casa</label>
                                            <input id="numero-casa" name="numero-casa" type="number" class="form-control cc-number identified visa" value="19" disabled>
                                            <span class="help-block" data-valmsg-for="numero-casa" data-valmsg-replace="true"></span>
                                        </div>
                                        <form action="#" method="post" novalidate="novalidate"></form>
                                        <br>
                                        <br>
                                        <div>
                                            <button id="eliminar-valoracion" type="submit" class="btn btn-lg btn-info btn-block">
                                                <span id="eliminar-valoracion-amount">Eliminar la valoración</span>
                                            </button>
                                        </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="propiedad-1" role="tabpanel" aria-labelledby="propiedad-tab-1">
                                        <div class="card-body card-block">
                                            <div class="form-group"><label for="tipo-propiedad" class=" form-control-label">Tipo de propiedad</label><input type="text" id="tipo-propiedad" value="Apartamento" disabled class="form-control"></div>
                                            <div class="form-group"><label for="planta-apartamento" class=" form-control-label">Planta del apartamento</label><input type="text" id="planta-apartamento" disabled class="form-control" value="12"></div>
                                            <div class="form-group"><label for="puerta-bloque" class=" form-control-label">Puerta / Bloque (opcional)</label><input type="text" id="puerta-bloque" disabled value="24" class="form-control"></div>
                                            <div class="form-group"><label for="superficie-construida" class=" form-control-label">Superficie construida</label><input type="text" id="superficie-construida" value="1" disabled class="form-control"></div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
                                        <div class="card-body card-block">
                                            <div class="form-group"><label for="num-habitaciones" class=" form-control-label">Número de habitaciones</label><input type="text" id="num-habitaciones" value="Apartamento" disabled class="form-control"></div>
                                            <div class="form-group"><label for="num-banos" class=" form-control-label">Número de baños</label><input type="text" id="num-banos" disabled class="form-control" value="12"></div>
                                            <div class="form-group"><label for="estado-propiedad" class=" form-control-label">Estado de la propiedad</label><input type="text" id="estado-propiedad" disabled value="24" class="form-control"></div>
                                            <div class="signup-field">
                                                <div class="signup-label">Características</div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="piscina" name="caracteristica" value="Piscina">
                                                    <label class="form-check-label" for="piscina">Piscina</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="terraza" name="caracteristica" value="Terraza">
                                                    <label class="form-check-label" for="terraza">Terraza</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input disabled class="form-check-input" type="checkbox" id="garaje" name="caracteristica" value="Garaje">
                                                    <label class="form-check-label" for="garaje">Garaje</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="nombre">Nombre</label>
                                                <input disabled type="email" class="form-control" id="nombre" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="apellido">Apellido</label>
                                                <input disabled type="text" class="form-control" id="apellido" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="correo">Correo</label>
                                            <input disabled type="text" class="form-control" id="correo" placeholder="1234 Main St">
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">Telefono</label>
                                            <input disabled type="text" class="form-control" id="telefono" placeholder="Apartment, studio, or floor">
                                        </div>

                                        <div class="signup-field">
                                            <div class="signup-label">Contactarle</div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" id="manana" value="Manana" name="Manana">
                                                <label class="form-check-label" for="manana">Mañana</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" name="tarde" id="tarde" value="Tarde">
                                                <label class="form-check-label" for="tarde">Tarde</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input disabled class="form-check-input" type="checkbox" id="noche" name="Noche" value="Noche">
                                                <label class="form-check-label" for="noche">Noche</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div><!-- .animated -->
        </div>

        <div class="clearfix"></div>



        <!-- /.content -->

        {{> "dashboard/componentes/footer" }}

    </div>
 

{{> "dashboard/componentes/scripts" }}

<script>
    // Función que se ejecuta cuando el modal se muestra
    function editarModal(id, usuario) {
        // Obtener el enlace "Aceptar"
        var btnAceptar = document.querySelector("#staticModal .modal-footer a.btn-primary");
        

        // Verificar si el enlace "Aceptar" existe
        if (btnAceptar) {
            // Cambiar la dirección (href) del enlace "Aceptar"
            btnAceptar.href = `/admin-ibizapropiedades-dashboard/eliminar-usuario/${id}`;
        }

        // Cambiar el contenido del modal
        var modalBody = document.querySelector("#staticModal .modal-body p");

        // Verificar si el elemento del modal existe
        if (modalBody) {
            modalBody.innerHTML = `
                            <p>
                               Estás a punto de eliminar el usuario <span style="color: red; text-transform: uppercase;">${usuario}</span>. Esta acción es irreversible y eliminará todos los datos asociados a su cuenta. Por favor, asegúrate de que realmente deseas proceder con la eliminación.
                            </p>
            `;
        }

                // Obtener el formulario dentro del modal
        var form = document.querySelector("#staticModal form");

        // Verificar si el enlace "Aceptar" y el formulario existen
        if (form) {
            // Cambiar el action del formulario
            form.action = `/admin-ibizapropiedades-dashboard/eliminar-usuario/${id}`;
        }
    }

    // Escuchar el evento 'shown.bs.modal' del modal
    document.getElementById("staticModal").addEventListener("shown.bs.modal", function() {
        // Puedes llamar a la función editarModal con los parámetros deseados aquí si es necesario
    });
</script>

{{> "dashboard/componentes/scripts_socket" }}