 <!--==================== HEADER ====================-->
        <header class="header">
            <nav class="nav container">
                <a style="color: #F3AA08;" href="/" class="nav__logo">
                    IBIZA <span style="color: #0F32A1;">PROPIEDADES</span>
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Inicio</a>
                        </li>
                        <li class="nav__item">
                            <a href="/sobre-nosotros" class="nav__link">Sobre nosotros</a>
                        </li>
                        <li class="nav__item">
                            <a href="contacto" class="nav__link">Contácto</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                        <span class="home__subtitle">Error 404</span>
                        <h1 class="home__title">Hey amigo</h1>
                        <p class="home__description">
                            Parece que no podemos encontrar la página
que estás buscando.
                        </p>
                        <a href="/" class="home__button">
                            Ir al inicio 
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="/assets/img/Ibiza-propiedades.ico" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>

                <footer class="home__footer">
                    <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> PEVITE Tecnología. 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </footer>
            </section>
        </main>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="/assets/js/scrollreveal.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="/assets/js/main2.js"></script>