<!-- Footer -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright ©<script>document.write(new Date().getFullYear());</script>
            </div>
            <div class="col-sm-6 text-right">
                PEVITE Tecnología. Todos los derechos reservados. Prohibida la reproducción total o parcial de cualquier contenido sin el permiso expreso por escrito de PEVITE Tecnología.  by <a href="https://pevite.com.ve/" target="_blank">PEVITE</a> <i class="icon-heart text-danger" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</footer>
<!-- /.site-footer -->